[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
scipy = "*"
tqdm = "*"
plotly = "*"
gitpython = "*"
tabulate = "*"
nbformat = "*"
ipywidgets = "*"
boto3 = "*"
statsmodels = "*"
patsy = "*"
jupyter-contrib-nbextensions = "*"
psutil = "*"
psycopg2 = "*"
sqlalchemy = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
